<h1>Registros</h1>
  

  <div class="records_container">
    <% @entries.each do |entry| %>
      <div class="card_container">
        <h2><%= entry.meal_type %></h2>
        <div class="card_item">
          <p>Calorias: </p>
          <span><%= entry.calories %> kcal</span>
        </div>
        <div class="card_item">
          <p>Proteinas: </p>
          <span><%= entry.proteins %> g</span>
        </div>
        <div class="card_item">
          <p>Carbohidratos: </p>
          <span><%= entry.carbohydrates %> g</span>
        </div>
        <div class="card_item">
          <p>Grasas: </p>
          <span><%= entry.fats %> g</span>
        </div>

        <div class="card_actions">
          <%= link_to 'Ver', entry, class: "btn gray" %>
          <%= link_to 'Editar', edit_entry_path(entry), class: "btn gray" %>
          <%= link_to 'Eliminar', entry, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn gray" %>
        </div>
      </div>
    <% end %>
  </div>
