<div class="main_container">
  <h1><%= @entry.meal_type %></h1>

  <div class="show_container">
    
    <div class="tag_container">
      <div class="tag top">
        <p>Calorias</p>
        <strong><%= @entry.calories %> kcal</strong>
      </div>
      <div class="tag bottom">
        <span class="percentage"><%= @entry.calories * 100 / 2000%>%</span>
      </div>
    </div>

    <div class="tag_container">
      <div class="tag top">
        <p>Carbos</p>
        <strong><%= @entry.carbohydrates %> g</strong>
      </div>
      <div class="tag bottom">
        <span class="percentage"><%= @entry.carbohydrates * 100 / 1100%>%</span>
      </div>
    </div>

    <div class="tag_container">
      <div class="tag top">
        <p>Proteinas</p>
        <strong><%= @entry.proteins %> g</strong>
      </div>
      <div class="tag bottom">
        <span class="percentage">16%</span>
      </div>
    </div>

    <div class="tag_container">
      <div class="tag top">
        <p>Grasas</p>
        <strong><%= @entry.fats %> g</strong>
      </div>
      <div class="tag bottom">
        <span class="percentage">16%</span>
      </div>
    </div>

  </div>

  <div class="btn_container">
    <%= link_to 'Editar', edit_entry_path(@entry), class: "btn green" %>
    <%= link_to 'Volver', entries_path, class: "btn red" %>
  </div>

</div>