<!DOCTYPE html>
<html>
  <head>
    <title>Foodapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if  notice.present? %>
      <div class="notification is_success"><%= notice %></div>
    <%end%>

    <% if  alert.present? %>
      <div class="notification is_alert"><%= alert %></div>
    <%end%>
    <%= render "shared/header" %>
    <div class="application_container">
      <%= yield %>
    </div>
  </body>
</html>
